In [26]:
from gridworld import *
from tqdm import trange
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#2005 Q-learning


goals = [(0, 5), (4, 1)]
error_states = [(o, 0) for o in range(6)] + [(5, o) for o in range(1, 6)]
gw = gridworld((6, 6), goals, error_states, 0.79, 0, 1, 0)

goals = [(0, 7), (6,1)]
error_states = [(o, 0) for o in range(8)] + [(7,o) for o in range(1, 7)]
gw = gridworld((8, 8), goals, error_states, 0.79, 0, 1, 0)

# goals = [(0, 6), (5,1)]
# error_states = [(o, 0) for o in range(7)] + [(6,o) for o in range(1, 6)]
# gw = gridworld((7, 7), goals, error_states, 0.79, 0, 1, 0)

# goals = [(0, 9), (8,1)]
# error_states = [(o, 0) for o in range(10)] + [(9,o) for o in range(1, 9)]
# gw = gridworld((10, 10), goals, error_states, 0.79, 0, 1, 0)

In [27]:
# #Empirically estimate risk probability
# num_sims = 10000
# def estimate_rr(pi):
#     risky = 0
#     rewards = []
#     for i in trange(num_sims):
#         s = gw.reset()
#         reward = 0
#         d = False
#         j = 0
#         while(j < 100):
#             a = pi[s[0],s[1]]
#             s1,r,d = gw.step(a)
#             #print(s)
#             reward += r
#             if d == True:
#                 if s1 in gw.error_states:
#                     risky += 1
#                 break
#             s = s1
#         rewards.append(reward)
#     return sum(rewards)/float(num_sims), float(risky)/num_sims    

def estimate_rr(pi):
    num_sims = 100
    all_rewards = []
    all_risks = []
    for st in [(2,3)]:#gw.enum_good_states: 
        #print(st)
        risky = 0
        rewards = []
        for i in trange(num_sims):
            s = st
            gw.set_state(s)
            reward = 0
            d = False
            j = 0
            print("new ep")
            while(j < 100):
                a = pi[s[0],s[1]]
                #print("from", s, "through", a)
                s1,r,d = gw.step(a)
                print("from", s, "to", s1, "through", a)
                reward += r
                if d == True:
                    if s1 in gw.error_states:
                        risky += 1
                        #print("o")
                    break
                s = s1
            rewards.append(reward)
        st_reward = sum(rewards)/float(num_sims)
        all_rewards.append(st_reward)
        st_risk = float(risky)/num_sims  
        all_risks.append(st_risk)
        #print(st_reward, st_risk)
    return sum(all_rewards)/len(all_rewards), sum(all_risks)/len(all_risks)

In [28]:
trials = 3
Q_list = []
reward_trial_list = []

np.random.seed(1)

# Set learning parameters
lr = 0.9
y = 0.9
num_episodes = 10000
factor = 1
#create lists to contain total rewards and steps per episode

for k in trange(trials):
    #Initialize table with all zeros
    Q = np.zeros((gw.M, gw.N, 4))
    Q_ = np.zeros((gw.M, gw.N, 4))
    mainQ = np.zeros((gw.M, gw.N, 4))
    jList = []
    rList = []
    for i in range(num_episodes):
        
        if i%10000 == 1:
            print('Episode', i)            
        #Reset environment and get first new observation
        s = gw.reset()
        rAll = 0
        d = False
        j = 0
        #The Q-Table learning algorithm
        while j < 100:
            j+=1
            #Choose an action by greedily (with noise) picking from Q table
            a = np.argmax(Q[s[0],s[1],:] + np.random.randn(1,4)*(1./(i+1)))
#             if np.random.rand() < epsilon:
#                 # take random action
#                 a = np.random.choice([0,1,2,3])
#             else:
#                 # take action according to the q function table
#                 a = np.argmax(Q[s[0],s[1],:])
            #Get new state and reward from environment
            s1,r,d = gw.step(a)

            r_ = 0
            if s1 in gw.error_states:
                r_ = 1

            #Update Q-Table with new knowledge
            Q[s[0], s[1],a] = Q[s[0], s[1],a] + lr*(r + y*np.max(Q[s1[0], s1[1],:]) - Q[s[0], s[1],a])
            Q_[s[0], s[1],a] = Q_[s[0], s[1],a] + lr*(r_ + y*np.max(Q_[s1[0], s1[1],:]) - Q_[s[0], s[1],a])
            mainQ = factor * Q - Q_  

            rAll += r
            s = s1
            if d == True:
                break
        jList.append(j)
        rList.append(rAll)
        
    Q_list.append(mainQ)

#     v = np.mean(mainQ, axis = 2)
#     gw.print_v(v)


    pi = np.argmax(mainQ, axis = 2)
    gw.print_policy(pi)
    reward_trial_list.append(sum(rList)/float(num_episodes))
    #print "Score over time: " +  str(sum(rList)/float(num_episodes))
    
#     window = int(num_episodes/10)

#     plt.figure(figsize=[9,16])
#     plt.subplot(411)
#     plt.plot(pd.Series(jList).rolling(window).mean())
#     plt.title('Step Moving Average ({}-episode window)'.format(window))
#     plt.ylabel('Moves')
#     plt.xlabel('Episode')

#     plt.subplot(412)
#     plt.plot(pd.Series(rList).rolling(window).mean())
#     plt.title('Reward Moving Average ({}-episode window)'.format(window))
#     plt.ylabel('Reward')
#     plt.xlabel('Episode')

#     plt.tight_layout(pad=2)
#     plt.show()
    

gw.print_gw()
meanQ = np.mean(np.array(Q_list), axis = 0)
meanv = np.mean(meanQ, axis = 2)
#print(meanQ)
gw.print_v(meanv)
meanpi = np.argmax(meanQ, axis = 2)
gw.print_policy(meanpi)
E_reward, E_risk = estimate_rr(meanpi)
print "Mean reward ", E_reward
print "Risk probab ", E_risk

  0%|          | 0/3 [00:00<?, ?it/s]

('Episode', 1)

   0  1  2  3  4  5  6  7
0  E  ➡  ➡  ➡  ➡  ➡  ➡  G
1  E  ➡  ⬇  ➡  ⬆  ➡  ⬇  ⬆
2  E  ⬅  ⬅  ➡  ⬇  ⬇  ➡  ⬆
3  E  ➡  ⬆  ⬇  ➡  ➡  ⬇  ⬅
4  E  ⬆  ➡  ⬆  ⬆  ⬆  ⬇  ⬅
5  E  ⬆  ⬇  ⬆  ⬆  ⬅  ⬆  ⬆
6  E  G  ⬆  ⬆  ⬇  ⬆  ⬆  ➡
7  E  E  E  E  E  E  E  ⬇

 33%|███▎      | 1/3 [00:02<00:05,  2.89s/it]

('Episode', 1)

   0  1  2  3  4  5  6  7
0  E  ⬆  ➡  ➡  ➡  ➡  ➡  G
1  E  ⬆  ➡  ⬇  ⬇  ⬇  ⬆  ⬆
2  E  ➡  ➡  ➡  ➡  ➡  ➡  ⬆
3  E  ⬇  ⬆  ⬆  ➡  ➡  ⬆  ⬇
4  E  ⬅  ⬆  ⬇  ⬆  ⬆  ⬆  ⬅
5  E  ⬆  ➡  ⬇  ➡  ⬆  ⬆  ⬆
6  E  G  ⬅  ⬆  ⬆  ⬆  ⬅  ⬆
7  E  E  E  E  E  E  E  ⬆

 67%|██████▋   | 2/3 [00:06<00:03,  3.02s/it]

('Episode', 1)

   0  1  2  3  4  5  6  7
0  E  ➡  ⬆  ⬆  ➡  ➡  ⬇  G
1  E  ➡  ⬇  ➡  ⬇  ➡  ➡  ⬆
2  E  ⬇  ➡  ⬆  ➡  ➡  ⬆  ⬆
3  E  ⬇  ⬇  ➡  ⬆  ⬆  ⬆  ➡
4  E  ⬅  ⬆  ➡  ⬆  ⬆  ⬆  ⬅
5  E  ⬇  ➡  ⬆  ⬆  ⬇  ⬆  ⬆
6  E  G  ⬅  ⬇  ⬅  ⬇  ⬆  ⬅
7  E  E  E  E  E  E  E  ⬆

100%|██████████| 3/3 [00:10<00:00,  3.38s/it]

   0  1  2  3  4  5  6  7
0  E  -  -  -  -  -  -  G
1  E  -  -  -  -  -  -  -
2  E  -  -  -  -  -  -  -
3  E  -  -  -  -  -  -  -
4  E  -  -  -  -  -  -  -
5  E  -  -  -  -  -  -  -
6  E  G  -  -  -  -  -  -
7  E  E  E  E  E  E  E  -

   0     1     2     3        4      5      6      7
0  E -0.59 -0.41 -0.17   -0.042   0.16   0.21      G
1  E -0.71  -0.5  -0.2     -0.1  0.054   0.14   0.25
2  E -0.64 -0.36 -0.21  0.00099   0.02   0.14   0.17
3  E -0.64 -0.44 -0.36    -0.22 -0.095 -0.023 -0.078
4  E -0.32 -0.33 -0.24    -0.28   -0.3  -0.27  -0.27
5  E -0.32 -0.25 -0.23    -0.46  -0.39  -0.38  -0.39
6  E     G  -0.2 -0.45     -0.5  -0.57   -0.6  -0.61
7  E     E     E     E        E      E      E  -0.74

   0  1  2  3  4  5  6  7
0  E  ⬆  ➡  ➡  ➡  ➡  ➡  G
1  E  ➡  ⬇  ➡  ⬇  ➡  ➡  ⬆
2  E  ⬅  ➡  ➡  ➡  ➡  ➡  ⬆
3  E  ⬇  ⬆  ⬆  ➡  ➡  ⬆  ⬆
4  E  ⬅  ⬆  ➡  ⬆  ⬆  ⬆  ⬅
5  E  ⬇  ➡  ⬇  ⬆  ➡  ⬆  ⬆
6  E  G  ⬅  ⬆  ⬅  ⬆  ⬆  ➡
7  E  E  E  E  E  E  E  ⬆

100%|██████████| 100/100 [00:00<00:00, 15223.23it/s]

Mean reward  1.0
Risk probab  0.0